<p [ngStyle] = "{'opacity':(editing&&!canEdit? '0.5':'1')}">
      <button title="Edit name" 
      [disabled] = "editing"  
      *ngIf = "!canEdit" class="btn" (click) = "edit()" #editBtn>
        <i class="material-icons">edit</i>
      </button>
      <button title="Save" *ngIf = "canEdit" class="btn" (click) = "edit()">
        <i class="material-icons">
          save
        </i>
      </button>
  <i class="material-icons" >
    dashboard
  </i>
  <span [attr.data-targetId] = "fileId" *ngIf = "!canEdit">{{fileName}}</span>
  <mat-form-field *ngIf = "canEdit"  
    [style.padding] = "'0px 5px'" 
    [style.fontSize] = "'10px'"
    [style.width] = "'60%'">
    <input matInput placeholder="File Name" 
    [(ngModel)] = "fileName" 
    [formControl]="fileNameFormControl" 
    autofocus
    #fileInput>
    <button mat-button *ngIf="fileName" matSuffix mat-icon-button aria-label="Clear" (click)="fileName=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="fileNameFormControl.hasError('forbiddenNameValidator') ">
      Please enter a different name
    </mat-error>
    <mat-error *ngIf="fileNameFormControl.hasError('required')">
      File name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  
</p>
