p{
    user-select: none;
    -webkit-user-drag: auto;
    margin: 0;
    span{
        width: calc(100% - 100px);
        display: inline-block;
        padding: 0 5px;
        overflow-wrap: break-word;
    }
    .btn{
        border: 0;
        font-size: 20px;
        margin:0 5px;
        background-color: transparent;
        position: relative;
        vertical-align: top;
        &:hover{
            background-color: rgb(238, 238, 238);
            border-radius: 5px;
            cursor: pointer;
        }
        &:after{
            content: attr(title);;
            font-size: 8px;
            width: 40px;
            position: absolute;
            top: 18px;
            left: -5px;

        }
        i{
            font-size: 18px;
        }
    }
    i{
        font-size: 20px;
        vertical-align: top;
    }
}