.container{
    padding:  50px 10px 10px 10px;
    h1{
        margin-top: 0;
        margin-bottom: 10px;
    }

    .bar{
        font-size: 1.3rem;
        padding: 10px 10px;
        // background-color: #efefef;
        // border-radius: 5px;
        // border: 1px solid silver;
        .btn{
            border: 0;
            background-color: transparent;
            &:hover{
                background-color: rgb(209, 209, 209);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    #feature_1{
        border-top: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        .locationPath{
            padding: 5px 4px;
            
            //background-color: rgb(230, 230, 230);
            button{
                background-color:transparent;
                border: none;
                i{
                    font-size:15px
                }
                span{
                    vertical-align: top;
                    border-bottom: 1px solid gray;
                    cursor: pointer;
                }
            }
        }
        #autocomplete{
            padding: 5px 4px;

            button{
                cursor: pointer;
                font-size: 20px;
                padding: 0;
                background-color: transparent;
                border: none;
                i{
                    font-size: 15px;
                    padding: 0;
                }
            }

            input{
                width: 80%;
                padding: 2px;
                border-bottom:1px solid rgb(211, 211, 211)
            }
        }
    }
    


    .btnGrp{
        border-right: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;
        padding-left: 10px;
        display: grid;
        grid-template-columns: 20px auto 180px;
        .title{
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
        }
        #checkboxAll{
            padding: 10px 0;
            border-top: .84375em solid transparent;
        }
        #features{
            padding: 0px 10px;
            div{
                border: 1px solid gainsboro;
                border-radius: 10px;
                margin: 5px 0;
                button{
                    &:after{
                        content: attr(title);;
                        font-size: 10px;
                        width: 40px;
                        position: absolute;
                        top: 18px;
                        left: 0;

                    }
                }
            }
            #indiviualFeature{
                display: inline-block;
                border-radius: 0;
                border: none;
                border-left: 1px solid gray;
            }
        }

        
        
    }
    .content{
        min-height:150px;
        border: 1px solid #dadada;    
        border-top: none;
        #title{
            padding: 10px 10px;
            padding-right: 16px;
            display: grid;
            grid-template-columns: 30px 30% 15% 20% auto 34px 34px;
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            background-color: #efefef;
            font-weight: bold;
            .btn{
                border: 0;
                background-color: transparent;
                &:hover{
                    background-color: rgb(209, 209, 209);
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            #column_filename{
                padding-top: 5px;
                text-align:left; 
                padding-left: 40px;
            }
            .column_name{
                padding: 5px 0px;
                text-align: center
            }
        }

        #fileContainer{


            height: 50vh;
            overflow-y: scroll;
            
            &::-webkit-scrollbar-track
            {
                
                background-color: white;
            }
            &::-webkit-scrollbar
            {
                width: 6px;
                background-color: white;
            }
            &::-webkit-scrollbar-thumb
            {
                background-color: gray;
            }

            
            .unselected{
                font-size: 16px;
                padding: 5px 10px;
                display: grid;
                grid-template-columns: 30px 30% 15% 20% auto 34px 34px;
                user-select: none;
                -webkit-user-drag: auto;
                &:hover{
                    box-shadow: 0px 1px rgb(189, 189, 189);
                    border: 1px solid rgb(238, 238, 238);
                    border-radius: 3px;
                    cursor: pointer;
                }
                p{
                    margin: 0 ;
                    i{
                        margin-left: 11px;
                        margin-right: 5px;
                    }
                }
                .btn{
                    border: 0;
                    font-size: 20px;
                    margin-left: 5px;
                    background-color: transparent;
                    &:hover{
                        background-color: rgb(238, 238, 238);
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    i{
                        font-size: 20px;
                    }
                }
            }
            .selected{
                font-size: 16px;
                padding: 5px 10px;
                display: grid;
                grid-template-columns: 30px 30% 15% 20% auto 34px 34px;
                user-select: none;
                -webkit-user-drag: auto;
                background-color: #ffdcdc;
                &:hover{
                    box-shadow: 0px 1px rgb(189, 189, 189);
                    border: 1px solid rgb(238, 238, 238);
                    border-radius: 3px;
                    cursor: pointer;
                }
                p{
                    margin: 0 ;
                    i{
                        margin-left: 11px;
                        margin-right: 5px;
                    }
                }
                .btn{
                    border: 0;
                    font-size: 20px;
                    margin-left: 5px;
                    background-color: transparent;
                    &:hover{
                        background-color: rgb(238, 238, 238);
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

    }

    
    

    .moving{
        border: 1px solid gray;
        border-radius: 3px;
        
        background-color: rgb(238, 238, 238);
    }
    .canStore{
        &:hover{
            border: 1px solid rgb(247, 247, 247) !important;
            background-color: rgb(250, 250, 250);
            border-radius: 5px;
            cursor: pointer;
        }
    }

    
}

.saveButton{
    border: 0;
    font-size: 20px;
    margin-left: 5px;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    &:hover{
        background-color: rgb(238, 238, 238);
        border-radius: 5px;
        cursor: pointer;
    }
}

